<div *ngIf="showComments === true">
  <app-comment-box *ngFor="let comment of comments"
    [comment]="comment">
  </app-comment-box>
  <form
    novalidate
    [formGroup]="commentForm"
    (ngModel)="commentForm"
    (ngSubmit)="submitComment(commentForm.value, commentForm.valid)">
    <div class="white-bg shadow box100">
      <textarea
        [ngClass]="{
            'error': !commentForm.controls['comment'].valid &&
                      commentForm.controls['comment'].touched ||
                      formSubmitted && !commentForm.controls['comment'].valid
        }"
        [formControl]="commentForm.controls['comment']"
        formControlName="comment"
        name="comment"
        placeholder="Go ahead, you know you've got something to say..."
        required></textarea>
      <div class="error sv-error"
           *ngIf="!commentForm.controls['comment'].valid &&
                   commentForm.controls['comment'].touched ||
                   formSubmitted && !commentForm.controls['comment'].valid">
        Please enter a comment.
      </div>
      <input (click)="submitComment()" class="blue800-bg right link btn" type="submit" value="Submit">
    </div>
  </form>
</div>
