<app-heading-panel>
  <div
    *ngFor="let song of songs"
    class="box100 blue700-bg no-margin shadow">
    <div class="box50 title">
      {{ song.title }}
    </div>
    <div class="box50 score">
      <span *ngIf="score >= 0">
        +{{ score }}
      </span>
      <span *ngIf="score < 0">
        {{ score }}
      </span>
    </div>
  </div>
</app-heading-panel>
<div class="content">
  <div class="box">
    <img
      *ngIf="submissions === undefined"
      class="centered" src="/assets/images/loading.gif" alt="Loading">
    <app-submission-box
      *ngFor="let submission of submissions; let i = index"
      [index]="i"
      [showTitle]="true"
      [submission]="submission"
      (voteChange)="handleSongScoreChange($event)">
    </app-submission-box>
  </div>
</div>
<app-back-to-top></app-back-to-top>
