.grey50-bg {
    background: material-color('grey', '50');
}

.grey100-bg {
    background: material-color('grey', '100');
}

.grey200-bg {
    background: material-color('grey', '200');
}

.grey300-bg {
    background: material-color('grey', '300');
}

.grey400-bg {
    background: material-color('grey', '400');
}

.grey500-bg {
    background: material-color('grey', '500');
}

.grey600-bg {
    background: material-color('grey', '600');
}

.grey700-bg {
    background: material-color('grey', '700');
}

.grey800-bg {
    background: material-color('grey', '800');
}

.grey900-bg {
    background: material-color('grey', '900');
}
