/**
 * BLUE
 */
.blue50-bg {
    background: material-color('blue', '50');
}

.blue100-bg {
    background: material-color('blue', '100');
}

.blue200-bg {
    background: material-color('blue', '200');
}

.blue300-bg {
    background: material-color('blue', '300');
}

.blue400-bg {
    background: material-color('blue', '400');
}

.blue500-bg {
    background: material-color('blue', '500');
}

.blue600-bg {
    color: #fff;
    background: material-color('blue', '600');
}

.blue700-bg {
    color: #fff;
    background: material-color('blue', '700');
}

.blue800-bg {
    color: #fff;
    background: material-color('blue', '800');
}

.blue900-bg {
    color: #fff;
    background: material-color('blue', '900');
}

/**
 * GREY
 */
.grey50-bg {
    color: material-color('grey', '900');
    background: material-color('grey', '50');
}

.grey100-bg {
    color: material-color('grey', '900');
    background: material-color('grey', '100');
}

.grey200-bg {
    color: material-color('grey', '900');
    background: material-color('grey', '200');
}

.grey300-bg {
    color: material-color('grey', '900');
    background: material-color('grey', '300');
}

.grey400-bg {
    color: material-color('grey', '900');
    background: material-color('grey', '400');
}

.grey500-bg {
    color: material-color('grey', '900');
    background: material-color('grey', '500');
}

.grey600-bg {
    color: #fff;
    background: material-color('grey', '600');
}

.grey700-bg {
    color: #fff;
    background: material-color('grey', '700');
}

.grey800-bg {
    color: #fff;
    background: material-color('grey', '800');
}

.grey900-bg {
    color: #fff;
    background: material-color('grey', '900');
}

/**
 * PURPLE
 */
.purp50-bg {
    background: material-color('purple', '50');
}

.purp100-bg {
    background: material-color('purple', '100');
}

.purp200-bg {
    background: material-color('purple', '200');
}

.purp300-bg {
    color: #fff;
    background: material-color('purple', '300');
}

.purp400-bg {
    color: #fff;
    background: material-color('purple', '400');
}

.purp500-bg {
    color: #fff;
    background: material-color('purple', '500');
}

.purp600-bg {
    color: #fff;
    background: material-color('purple', '600');
}

.purp700-bg {
    color: #fff;
    background: material-color('purple', '700');
}

.purp800-bg {
    color: #fff;
    background: material-color('purple', '800');
}

.purp900-bg {
    color: #fff;
    background: material-color('purple', '900');
}
