.page-title {
  margin: 3em .5em 1em .5em;
  font-size: 3em;
  font-weight: lighter;
  color: material-color('grey', '900');

  hr {
    background: material-color('grey', '300');
  }
}

.error {
    color: material-color('red', 'a400');
}
