.page-title {
  margin: 3em .5em 1em .5em;

  color: material-color('grey', '900');

  font-size: 3em;
  font-weight: lighter;

  hr {
    background: material-color('grey', '300');
  }
}

.error {
    color: material-color('red', 'a400');
}

.user-container {
    position: relative;

    height: 100%;
    margin-left: 40px;

    font-size: .9em;

    .profile-pic {
        position: absolute;
        top: -4px;
        left: -30px;

        width: 20px;

        border-radius: 50%;
    }
}

.profile-pic {
    width: 30px;

    border-radius: 50%;
}

.submit-a-version-dropdown {
    position: relative;

    display: block;
    display: none;

    margin-top: 21px;

    border-top: 1px solid material-color('grey', '300');
    border-bottom: 1px solid material-color('grey', '300');
    background: #fff;
}

.visible {
    display: block;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
}

.sv-error {
  margin: 1em;
}
