<div class="content">
  <div class="page-title">
    Register
  </div>

  <form
    novalidate
    [formGroup]="form"
    (ngModel)="form"
    (ngSubmit)="registerUser(form.value, form.valid)">
    <div class="box100 grey100-bg shadow">
      <div class="input-large">
        <div class="image-upload-wrapper">
          <image-upload
            [max]="1"
            [buttonCaption]="'Select Image'"
            [dropBoxMessage]="'Drop your profile pic here!'"
            [maxFileSize]="4000000"
            (onFileUploadFinish)="imageUploaded($event)"
            (isPending)="showSpinner($event)"
            (onRemove)="imageRemoved($event)"></image-upload>
        </div>
        <div class="error"
          *ngIf="formSubmitted && !imageReady">
            Please upload a profile picture
        </div>
      </div>
      <div class="input-large">
        <input
          [ngClass]="{
              'error': !form.controls['username'].valid &&
                        form.controls['username'].touched ||
                        !form.valid && formSubmitted && !form.controls['username'].valid
          }"
          [formControl]="form.controls['username']"
          type="text"
          name="username"
          placeholder="Username"
          formControlName="username"
          required>
          <div class="error"
            *ngIf="!form.controls['username'].valid &&
                    form.controls['username'].touched ||
                    !form.valid && formSubmitted && !form.controls['username'].valid">
              Please enter a valid username
          </div>
      </div>
      <div class="input-large">
        <input
          [ngClass]="{
              'error': !form.controls['email'].valid &&
                        form.controls['email'].touched ||
                        !form.valid && formSubmitted && !form.controls['email'].valid
          }"
          [formControl]="form.controls['email']"
          type="text"
          name="email"
          placeholder="Email"
          formControlName="email"
          pattern='(.+)@(.+){2,}\.(.+){2,}'
          required>
          <div class="error"
            *ngIf="!form.controls['email'].valid &&
                    form.controls['email'].touched ||
                    !form.valid && formSubmitted && !form.controls['email'].valid">
              Please enter a valid email address
          </div>
      </div>
      <div class="input-large">
        <input
          [ngClass]="{
              'error':!form.controls['password'].valid &&
              form.controls['password'].touched ||
              !form.valid && formSubmitted && !form.controls['password'].valid
          }"
          [formControl]="form.controls['password']"
          type="password"
          name="password"
          placeholder="Password"
          formControlName="password"
          required>
          <div
            class="error"
            *ngIf="!form.controls['password'].valid &&
                    form.controls['password'].touched ||
                    !form.valid && formSubmitted && !form.controls['password'].valid">
              Please enter a valid password (at least 8 characters long)
          </div>
          <div class="error">
            {{ serverError }}
          </div>
      </div>
      <div class="box33"></div>
      <div class="box33"></div>
      <div class="box33">
        <input
          type="submit"
          value="Submit"
          class="btn blue800-bg right link">
      </div>
    </div>
  </form>
</div>
