<nav>
    <h1 (click)="toggleHamburgerMenu()" routerLink="/">Phinest Version.</h1>
    <ul>
      <li *ngIf="user !== null"><button routerLink="/submit" class="submit-version-btn link">Submit a version.</button></li>
      <li routerLink="/songs">Songs</li>
      <li routerLink="/shows">Shows</li>
      <li routerLink="/years">Years</li>
      <li routerLink="/users">Leaderboard</li>
      <li *ngIf="user !== null">
        <span (click)="navigateToUser(user.username)" routerLink="/users/{{ user.username }}" class="user-container link">
          <span class="helper"></span>
          <img class="profile-pic" src="{{ imageApi }}{{ user.image }}" alt="{{ user.username }}'s profile picture'">
          {{ user.username }}
        </span>
      </li>
      <li routerLink="/login" class="link" *ngIf="user === null">Login</li>
      <li (click)="logout()" class="link" *ngIf="user !== null">Logout</li>
    </ul>
    <span class="hamburger-menu">
      <i (click)="toggleHamburgerMenu()" class="fa fa-bars"></i>
    </span>
</nav>
<div class="dropdown-menu grey100-bg shadow {{ dropdownMenuIsVisible ? 'visible' : '' }}">
  <ul>
    <li *ngIf="user !== null">
      <span (click)="navigateToUser(user.username)" routerLink="/users/{{ user.username }}" class="user-container link">
          <span class="helper"></span>
          <img class="profile-pic" src="{{ imageApi }}{{ user.image }}" alt="{{ user.username }}'s profile picture'">
          {{ user.username }}
      </span>
    </li>
    <li *ngIf="user !== null"><button (click)="toggleHamburgerMenu()" routerLink="/submit" class="submit-version-btn link">Submit a version.</button></li>
    <li (click)="toggleHamburgerMenu()" routerLink="/songs">Songs</li>
    <li (click)="toggleHamburgerMenu()" routerLink="/shows">Shows</li>
    <li (click)="toggleHamburgerMenu()" routerLink="/years">Years</li>
    <li (click)="toggleHamburgerMenu()" routerLink="/users">Leaderboard</li>
    <li (click)="toggleHamburgerMenu()" routerLink="/login" class="link" *ngIf="user === null">Login</li>
    <li (click)="logout()" class="link" *ngIf="user !== null">Logout</li>
  </ul>
</div>
