<div class="box100 grey{{ getShade() }}-bg shadow">
  <div class="box33 submission-date">
    <div *ngIf="showTitle">
      {{ submission.show_date }}
      <div class="venue-description">
        {{ submission.venue_name }}<br>
        {{ submission.venue_location }}
      </div>
    </div>
    <div *ngIf="songTitle">
      {{ submission.song_title }}
    </div>
  </div>
  <div class="box33">
    {{ submission.description }}
    <div class="username">
      -{{ submission.username }}
    </div>
  </div>
  <div class="box33 submission-score">
    +{{ submission.submission_score }}
  </div>
</div>
<div>
  <app-comment-list [showComments]="showComments" [submissionId]="submission.submission_id"></app-comment-list>
</div>
