:host .submission-box-btns {
  font-size: 15px;
  margin-top: 1em;
}

:host .submission-box-btns a {
  color: inherit;
  text-decoration: none;
}

:host .submission-box-btns i.fa:hover {
  cursor: pointer;
}

:host .arrow-up, :host .arrow-down {
  padding-right: 8px;
  font-size: 25px;
}

:host .arrow-up {
  padding-bottom: 5px;
}

:host .arrow-down {
  padding-top: 5px;
}
