html {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  min-height: 100%;
  background: $site-bg-color;
  color: $body-text-color;
  box-sizing: border-box;
}

body {
  margin-top: 65px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0 10px;
  font-weight: bold;
  color: $header-text-color;
}

hr {
  border: 0;
  height: 1px;
  background: material-color('grey', '400');
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
}

select {
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid material-color('grey', '300');
  border-radius: 0;
  background: none;
  padding: 1em;
  margin: 1em;
  display: block;
  width: 100%;

  &:focus {
    outline: none;
  }
}

button:focus {
  outline: none;
}

textarea {
  padding: 1em;
  border: none;
  border: 1px solid material-color('grey', '100');
  display: block;
  width: 100%;
  @include transition(all .2s ease-in-out);

  &:focus {
    outline: none;
    color: material-color('grey', '800');
    border: 1px solid material-color('blue', '500');
  }
}
