html {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  min-height: 100%;
  background: $site-bg-color;
  color: $body-text-color;
  box-sizing: border-box;
}

body {
  margin-top: 65px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0 10px;
  font-weight: bold;
  color: $header-text-color;
}

hr {
  border: 0;
  height: 1px;
  background: material-color('grey', '400');
}

a {
  text-decoration: none;
  color: inherit;
}
