input {
  box-sizing: border-box;
  border: none;
  border-bottom: .5px solid material-color('grey', '200');
  background: transparent;
  color: material-color('grey', '500');
  @include transition(all .2s ease-in-out);
  font-weight: lighter;

  &::-webkit-input-placeholder {
    font-style: italic;
    font-weight: lighter;
  }

  &:focus {
    outline: none;
    color: material-color('grey', '800');
    border-bottom: 1px solid material-color('blue', '500');
  }

  &.error {
    border-bottom: 1px solid material-color('red', 'a400');
  }
}

.input-large {
  margin: 0 2em;

  input {
    font-size: 1.5em;
    margin: 2em 0;
    height: 50px;
    width: 100%;
  }
}
