$site-bg-color: material-color('grey', '50');
$body-text-color: material-color('grey', '800');
$header-text-color: material-color('grey', '900');

$border-color: material-color('grey', '200');
$box-color: material-color('grey', '50');
