#back-to-top-widget {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
}

#back-to-top-widget:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#back-to-top-widget i {
  margin-top: 9px;
  margin-left: 10px;
}

#back-to-top-widget:hover {
  cursor: pointer;
}
