<app-heading-panel>
  <div
    *ngFor="let user of users"
    class="box100 blue700-bg no-margin shadow">
    <div class="box50 title">
      {{ user.username }}
    </div>
    <div class="box50 score">
      <span *ngIf="score >= 0">
        +{{ score }}
      </span>
      <span *ngIf="score < 0">
        {{ score }}
      </span>
    </div>
  </div>
</app-heading-panel>
<div class="content">
  <img
    *ngIf="submissions === undefined"
    class="centered" src="/assets/images/loading.gif" alt="Loading">
  <div class="box">
    <p class="text-center" *ngIf="noSubmissionsFound">You haven't made any submissions :(</p>
    <app-submission-box
      *ngFor="let submission of submissions; let i = index"
      [index]="i"
      [showTitle]="true"
      [songTitle]="true"
      [submission]="submission"
      (voteChange)="handleUserScoreChange($event)">
    </app-submission-box>
  </div>
</div>
<app-back-to-top></app-back-to-top>
