<div class="content">
  <div class="page-title">
    Login
  </div>

  <div class="box100 grey100-bg shadow">
    <div class="input-large">
      <input type="text" name="email" placeholder="Email">
    </div>
    <div class="input-large">
      <input type="password" name="password" placeholder="Password">
    </div>
    <div class="box33"></div>
    <div class="box33"></div>
    <div class="box33">
      <input type="submit" value="Submit" class="btn blue800-bg right link">
    </div>
  </div>
</div>
