<div class="box100 grey{{ getShade() }}-bg shadow submission-box">
  <div class="box33 title">
    <div *ngIf="songTitle">
      <div routerLink="/songs/{{ submission.song_slug }}" class="link">
        {{ submission.song_title }}
      </div>
      <hr>
    </div>
    <div *ngIf="showTitle">
      <div routerLink="/shows/{{ submission.show_date }}" class="link">
        {{ submission.show_date }}
        <div class="venue-description">
          {{ submission.venue_name }}<br>
          {{ submission.venue_location }}
        </div>
      </div>
      <hr>
    </div>
    <div class="submission-box-btns">
      <a target="_blank" href="http://phish.in/{{ submission.show_date }}/{{ submission.song_slug }}">
        <i class="fa fa-headphones"></i>
      </a>
      <i (click)="toggleComments()" class="fa fa-comments"></i>
      <span *ngIf="numComments === undefined">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
      <span>
        {{ numComments }}
      </span>
    </div>
  </div>
  <div class="box33">
    {{ submission.description }}
    <div class="username">
      -{{ submission.username }}
    </div>
  </div>
  <div class="box33 score">
    <app-vote
      [index]="index"
      [score]="submission.submission_score"
      [submissionId]="submission.submission_id">
    </app-vote>
    <div class="see-comments-btn grey{{ getShade() }}-bg">
    </div>
  </div>
</div>
<div>
  <div *ngIf="showComments === true">
    <div *ngIf="comments?.length < numComments" class="box100">
      <input class="btn blue800-bg link" (click)="loadComments()" type="submit" value="Load previous comments">
    </div>
  </div>
  <app-comment-list
    (commentSubmitted)="updateNumComments()"
    [submissionId]="submission.submission_id"
    [showComments]="showComments"
    [comments]="comments">
  </app-comment-list>
</div>
