/******************************************************************************
 * Scalable and Modular Architecture for CSS
 *
 * This is a demo project utilizing the smacss ideology. You can find out more
 *  about smacss by visiting: https://smacss.com/
 *
 * There are five types of categories:
 *  1. Base
 *  2. Layout
 *  3. Module
 *  4. State
 *  5. Theme
 *****************************************************************************/
/******************************************************************************
 * Globals
 *****************************************************************************/
/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/******************************************************************************
 * Base
 *
 * Base rules are the defaults. They are almost exclusively single element
 *  selectors but it could include attribute selectors, pseudo-class selectors,
 *  child selectors. Essentially, a base style says that wherever this element
 *  is on the page, it should look like this.
 *
 * Examples of Base Styles:
 *  html, body, form { margin: 0; padding: 0; }
 *  input[type=text] { border: 1px solid #999; }
 *  a { color: #039; }
 *  a:hover { color: #03C; }
 *****************************************************************************/
html {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  min-height: 100%;
  background: #fafafa;
  color: #424242;
  box-sizing: border-box; }

body {
  margin-top: 65px; }

h1, h2, h3, h4, h5, h6 {
  padding: 0 10px;
  font-weight: bold;
  color: #212121; }

nav {
  background: #fff;
  border-bottom: 1px solid #eeeeee;
  padding: 5px; }

input {
  padding: 10px 15px 5px 5px;
  border: none;
  border-bottom: 1px solid #eeeeee;
  background: transparent;
  color: #424242; }
  input:focus {
    outline: none;
    border-bottom: 1px solid #bdbdbd;
    transition: border-bottom .2s ease-in-out; }

hr {
  border: 0;
  height: 1px;
  background: #bdbdbd; }

table {
  width: 100%; }
  table th {
    text-align: left; }
  table td {
    padding: 5px; }

a {
  text-decoration: none;
  color: inherit; }

/******************************************************************************
 * Layout
 *
 * Layout rules divide the page into sections. Layouts hold one or more
 *  modules together.
 *
 * These rules are prefixed with lyt- for clarity.
 *****************************************************************************/
.site-title {
  display: inline-block;
  margin-left: 15px;
  font-size: 22px; }

.heading-panel {
  padding: 5px;
  min-height: 200px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkqAcAAIUAgUW0RjgAAAAASUVORK5CYII=), url("/assets/images/phish-cool.jpg");
  background-size: cover;
  background-position: center;
  color: #fafafa; }
  .heading-panel h1 {
    font-size: 3em; }
  .heading-panel h1, .heading-panel h2, .heading-panel h3, .heading-panel h4, .heading-panel h5, .heading-panel h6 {
    color: #fff; }
  .heading-panel button.btn {
    border: 5px solid #fff;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
    padding: 20px 40px;
    background: transparent;
    margin: 118px auto;
    display: block;
    -webkit-transition: color .3s ease-in-out, background .3s ease-in-out;
    transition: color .3s ease-in-out, background .3s ease-in-out; }
    .heading-panel button.btn:hover {
      color: #0d47a1;
      background: #fff;
      cursor: pointer; }

.content {
  max-width: 1200px;
  margin: 0 auto; }

.shadow {
  -webkit-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75); }

.box, .box33, .box50, .box100 {
  margin: 10px 10px;
  padding: 20px 20px;
  min-height: 350px; }
  .box::after, .box33::after, .box50::after, .box100::after {
    content: '';
    display: table;
    clear: both; }

.box33 {
  min-height: initial;
  width: calc(33.3333% - (20px + 40px));
  float: left; }
  .box33::after {
    content: '';
    display: table;
    clear: both; }

.box50 {
  min-height: initial;
  width: calc(50% - (20px + 40px));
  float: left; }
  .box50::after {
    content: '';
    display: table;
    clear: both; }

.box100 {
  min-height: initial; }

.no-margin {
  margin: 0; }

.min-height350 {
  min-height: 350px; }

.year,
.show-date,
.song-name,
.submission-date,
.user-name {
  font-size: 3em;
  font-weight: bold; }

.show-location {
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold; }

.year-score,
.show-score,
.song-score,
.submission-score,
.user-score {
  margin-top: 22px;
  font-size: 2em;
  text-align: right;
  color: #00e676;
  font-weight: bold; }

.venue-description {
  font-weight: lighter;
  font-size: 14px; }

.username {
  margin-top: 10px;
  font-style: italic; }

.link:hover {
  cursor: pointer; }

/******************************************************************************
 * Module
 *
 * Modules are the reusable, modular parts of our design. They are the
 *  callouts, the sidebar sections, the products lists and so on.
 *****************************************************************************/
/**
 * WHITE
 */
.white-bg {
  background: #fff; }

/**
 * BLUE
 */
.blue50-bg {
  background: #e3f2fd; }

.blue100-bg {
  background: #bbdefb; }

.blue200-bg {
  background: #90caf9; }

.blue300-bg {
  background: #64b5f6; }

.blue400-bg {
  background: #42a5f5; }

.blue500-bg {
  background: #2196f3; }

.blue600-bg {
  color: #fff;
  background: #1e88e5; }

.blue700-bg {
  color: #fff;
  background: #1976d2; }

.blue800-bg {
  color: #fff;
  background: #1565c0; }

.blue900-bg {
  color: #fff;
  background: #0d47a1; }

/**
 * GREY
 */
.grey50-bg {
  color: #424242;
  background: #fafafa; }

.grey100-bg {
  color: #424242;
  background: #f5f5f5; }

.grey200-bg {
  color: #424242;
  background: #eeeeee; }

.grey300-bg {
  color: #424242;
  background: #e0e0e0; }

.grey400-bg {
  color: #424242;
  background: #bdbdbd; }

.grey500-bg {
  color: #424242;
  background: #9e9e9e; }

.grey600-bg {
  color: #fff;
  background: #757575; }

.grey700-bg {
  color: #fff;
  background: #616161; }

.grey800-bg {
  color: #fff;
  background: #424242; }

.grey900-bg {
  color: #fff;
  background: #212121; }

/**
 * PURPLE
 */
.purp50-bg {
  background: #f3e5f5; }

.purp100-bg {
  background: #e1bee7; }

.purp200-bg {
  background: #ce93d8; }

.purp300-bg {
  color: #fff;
  background: #ba68c8; }

.purp400-bg {
  color: #fff;
  background: #ab47bc; }

.purp500-bg {
  color: #fff;
  background: #9c27b0; }

.purp600-bg {
  color: #fff;
  background: #8e24aa; }

.purp700-bg {
  color: #fff;
  background: #7b1fa2; }

.purp800-bg {
  color: #fff;
  background: #6a1b9a; }

.purp900-bg {
  color: #fff;
  background: #4a148c; }

#shows-table td:nth-child(2), #songs-table td:nth-child(2) {
  font-weight: bold;
  font-size: 1.1em;
  min-width: 100px; }

#shows-table td:nth-child(3), #songs-table td:nth-child(3) {
  font-size: .9em; }

#shows-table td:nth-child(4), #songs-table td:nth-child(4) {
  color: #00e676;
  font-weight: bold;
  font-size: 1.1em; }

#shows-table tr:hover, #songs-table tr:hover {
  cursor: pointer;
  color: #212121; }
  #shows-table tr:hover td, #songs-table tr:hover td {
    border-bottom: 1px solid #bdbdbd; }

#back-to-top-widget {
  background: #1976d2; }
