/******************************************************************************
 * Scalable and Modular Architecture for CSS
 *
 * This is a demo project utilizing the smacss ideology. You can find out more
 *  about smacss by visiting: https://smacss.com/
 *
 * There are five types of categories:
 *  1. Base
 *  2. Layout
 *  3. Module
 *  4. State
 *  5. Theme
 *****************************************************************************/
/******************************************************************************
 * Globals
 *****************************************************************************/
/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/******************************************************************************
 * Base
 *
 * Base rules are the defaults. They are almost exclusively single element
 *  selectors but it could include attribute selectors, pseudo-class selectors,
 *  child selectors. Essentially, a base style says that wherever this element
 *  is on the page, it should look like this.
 *
 * Examples of Base Styles:
 *  html, body, form { margin: 0; padding: 0; }
 *  input[type=text] { border: 1px solid #999; }
 *  a { color: #039; }
 *  a:hover { color: #03C; }
 *****************************************************************************/
/**
 * WHITE
 */
.white-bg {
  background: #fff; }

/**
 * BLUE
 */
.blue50-bg {
  background: #e3f2fd; }

.blue100-bg {
  background: #bbdefb; }

.blue200-bg {
  background: #90caf9; }

.blue300-bg {
  background: #64b5f6; }

.blue400-bg {
  background: #42a5f5; }

.blue500-bg {
  background: #2196f3; }

.blue600-bg {
  color: #fff;
  background: #1e88e5; }

.blue700-bg {
  color: #fff;
  background: #1976d2; }

.blue800-bg {
  color: #fff;
  background: #1565c0; }

.blue900-bg {
  color: #fff;
  background: #0d47a1; }

/**
 * GREY
 */
.grey50-bg {
  color: #424242;
  background: #fafafa; }

.grey100-bg {
  color: #424242;
  background: #f5f5f5; }

.grey200-bg {
  color: #424242;
  background: #eeeeee; }

.grey300-bg {
  color: #424242;
  background: #e0e0e0; }

.grey400-bg {
  color: #424242;
  background: #bdbdbd; }

.grey500-bg {
  color: #424242;
  background: #9e9e9e; }

.grey600-bg {
  color: #fff;
  background: #757575; }

.grey700-bg {
  color: #fff;
  background: #616161; }

.grey800-bg {
  color: #fff;
  background: #424242; }

.grey900-bg {
  color: #fff;
  background: #212121; }

/**
 * PURPLE
 */
.purp50-bg {
  background: #f3e5f5; }

.purp100-bg {
  background: #e1bee7; }

.purp200-bg {
  background: #ce93d8; }

.purp300-bg {
  color: #fff;
  background: #ba68c8; }

.purp400-bg {
  color: #fff;
  background: #ab47bc; }

.purp500-bg {
  color: #fff;
  background: #9c27b0; }

.purp600-bg {
  color: #fff;
  background: #8e24aa; }

.purp700-bg {
  color: #fff;
  background: #7b1fa2; }

.purp800-bg {
  color: #fff;
  background: #6a1b9a; }

.purp900-bg {
  color: #fff;
  background: #4a148c; }

html {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  min-height: 100%;
  background: #fafafa;
  color: #424242;
  box-sizing: border-box; }

body {
  margin-top: 65px; }

h1, h2, h3, h4, h5, h6 {
  padding: 0 10px;
  font-weight: bold;
  color: #212121; }

hr {
  border: 0;
  height: 1px;
  background: #bdbdbd; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  margin: 0; }

select {
  display: block;
  background: none;
  width: 100%;
  border: 1px solid #eeeeee;
  height: 3em;
  margin: 1em;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  select.error {
    border: 1px solid #ff1744; }
  select:focus {
    outline: none; }

button:focus {
  outline: none; }

textarea {
  padding: 1em;
  border: none;
  border: 1px solid #eeeeee;
  display: block;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  textarea.error {
    border: 1px solid #ff1744; }
  textarea:focus {
    outline: none;
    color: #424242;
    border: 1px solid #2196f3; }

.shadow {
  -webkit-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75); }

.no-margin {
  margin: 0 !important; }

.margin-top100px {
  margin-top: 100px !important; }

.min-height350 {
  min-height: 350px !important; }

.link:hover {
  cursor: pointer; }

.right {
  float: right; }

.left {
  float: left; }

table {
  width: 100%; }
  table th {
    text-align: left; }
    table th.right {
      text-align: right; }
  table td {
    padding: 5px; }

.top-rankings-table td:nth-child(2) {
  font-weight: bold;
  font-size: 1.1em;
  min-width: 100px; }

.top-rankings-table td:nth-child(3) {
  font-size: .9em; }

.top-rankings-table td:nth-child(4) {
  color: #00e676;
  font-weight: bold;
  font-size: 1.1em; }

.top-rankings-table tr:hover {
  cursor: pointer;
  color: #212121; }
  .top-rankings-table tr:hover td {
    border-bottom: 1px solid #bdbdbd; }

input {
  box-sizing: border-box;
  border: none;
  border-bottom: 0.5px solid #eeeeee;
  background: transparent;
  color: #9e9e9e;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: lighter; }
  input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: lighter; }
  input:focus {
    outline: none;
    color: #424242;
    border-bottom: 1px solid #2196f3; }
  input.error {
    border-bottom: 1px solid #ff1744; }

.input-large {
  margin: 0 2em; }
  .input-large input {
    font-size: 1.5em;
    margin: 2em 0;
    height: 50px;
    width: 100%; }

/******************************************************************************
 * Layout
 *
 * Layout rules divide the page into sections. Layouts hold one or more
 *  modules together.
 *
 * These rules are prefixed with lyt- for clarity.
 *****************************************************************************/
.site-title {
  display: inline-block;
  margin-left: 15px;
  font-size: 22px; }

.content {
  max-width: 1200px;
  margin: 0 auto; }

.heading-panel {
  padding: 5px;
  min-height: 200px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkqAcAAIUAgUW0RjgAAAAASUVORK5CYII=), url("/assets/images/phish-cool.jpg");
  background-size: cover;
  background-position: center;
  color: #fafafa; }
  .heading-panel h1 {
    font-size: 3em; }
  .heading-panel h1, .heading-panel h2, .heading-panel h3, .heading-panel h4, .heading-panel h5, .heading-panel h6 {
    color: #fff; }
  .heading-panel button.btn {
    border: 5px solid #fff;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
    padding: 20px 40px;
    background: transparent;
    margin: 118px auto;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .heading-panel button.btn:hover {
      color: #0d47a1;
      background: #fff;
      cursor: pointer; }

.box, .box33, .box50, .box100 {
  margin: 10px 10px;
  padding: 20px 20px;
  min-height: 350px; }
  .box::after, .box33::after, .box50::after, .box100::after {
    content: '';
    display: table;
    clear: both; }

.box33 {
  min-height: initial;
  width: calc(33.3333% - (20px + 40px));
  float: left; }
  .box33::after {
    content: '';
    display: table;
    clear: both; }

.box50 {
  min-height: initial;
  width: calc(50% - (20px + 40px));
  float: left; }
  .box50::after {
    content: '';
    display: table;
    clear: both; }

.box100 {
  min-height: initial; }

.submission-box .submission-box-btns {
  font-size: 15px;
  margin-top: 1em; }

.submission-box .submission-box-btns a {
  color: inherit;
  text-decoration: none; }

.submission-box .submission-box-btns i.fa:hover {
  cursor: pointer; }

.submission-box .arrow-up, .submission-box .arrow-down {
  font-size: 25px; }

.submission-box .arrow-up {
  padding-bottom: 5px; }

.submission-box .arrow-down {
  padding-top: 5px; }

.load-more-btn {
  font-size: 30px;
  text-align: center; }

.title {
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold; }

.show-location {
  margin-top: 25px;
  font-size: 1.5em;
  font-weight: bold; }

.score {
  margin-top: 25px;
  font-size: 1.5em;
  text-align: right;
  color: #00e676;
  font-weight: bold; }

.venue-description {
  font-weight: lighter;
  font-size: 14px; }

.username {
  margin-top: 10px;
  font-style: italic; }

/******************************************************************************
 * Module
 *
 * Modules are the reusable, modular parts of our design. They are the
 *  callouts, the sidebar sections, the products lists and so on.
 *****************************************************************************/
.page-title {
  margin: 3em .5em 1em .5em;
  color: #212121;
  font-size: 3em;
  font-weight: lighter; }
  .page-title hr {
    background: #e0e0e0; }

.error {
  color: #ff1744; }

.user-container {
  position: relative;
  height: 100%;
  margin-left: 40px;
  font-size: .9em; }
  .user-container .profile-pic {
    position: absolute;
    top: -4px;
    left: -30px;
    width: 20px;
    border-radius: 50%; }

.profile-pic {
  width: 30px;
  border-radius: 50%; }

.submit-a-version-dropdown {
  position: relative;
  display: block;
  display: none;
  margin-top: 21px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #fff; }

.visible {
  display: block; }

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%); }

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em; }

.sv-error {
  margin: 1em; }

nav {
  background: #fff;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 65px; }
  nav .submit-version-btn {
    border: 2px solid #424242;
    color: #424242;
    border-radius: 5px;
    padding: 10px 20px;
    background: transparent;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    nav .submit-version-btn:hover {
      background: #424242;
      color: #fff; }
  nav h1 {
    display: inline-block;
    margin-left: 15px;
    font-size: 22px; }
    nav h1:hover {
      cursor: pointer; }
  nav ul {
    display: inline-block; }
    nav ul li {
      display: inline-block;
      padding: 0 20px; }
      nav ul li:hover {
        cursor: pointer;
        font-weight: bold;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
  nav #search-box {
    float: right;
    margin: 10px 20px; }
    nav #search-box input {
      display: none;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      nav #search-box input.visible {
        display: inline-block; }
    nav #search-box i {
      margin-right: 10px;
      margin-top: 10px;
      font-size: 1.2em; }
      nav #search-box i:hover {
        cursor: pointer; }

input.btn {
  font-size: .9em;
  text-transform: uppercase;
  text-align: center;
  padding: .9em 2em;
  border-bottom: none;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24); }
  input.btn:focus {
    color: #fff; }

#back-to-top-widget {
  background: #1976d2; }

#back-to-top-widget {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 2em; }

#back-to-top-widget:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

#back-to-top-widget i {
  margin-top: 9px;
  margin-left: 10px; }

#back-to-top-widget:hover {
  cursor: pointer; }
